body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.4;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

ul{
	margin: 0;
	padding: 0;

}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

header{
	background: #35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: 3px solid #e8491d;
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

#branding{
	float: left;
}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 20px;
}

header .highlight, header .current a{
	color: #e8491d;
	font-weight: bold;
}

header a:hover{
	color: #cccccc;
	font-weight: bold;
}

#boxes{
	margin-top: 20px;
}

#boxes .box{
	float: left;
	width: 30%;
	text-align: center;
	padding: 10px;
}

#boxes .box img{
	width: 100px;

}

#box3 {
	margin-top: 33px;
}

#showcase{
	min-height: 400px;
	background-image: url('progaming.jpg') no-repeat;
}
